{
	"presets": ["next/babel"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@actions": "./src/actions",
					"@components": "./src/components",
					"@store": "./src/store",
					"@services": "./src/services"
				}
			}
		]
	]
}
